<!DOCTYPE html>
<html>
<head>
  <title>AngularjsPart2</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="todoApp">
	<%= yield %>
	<div class="footer">
	  <p>Copyright (c) by Nguyen Van Dung</p>
	</div>
</body>
</html>
